* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  width: 400px;
  height: 200px;
  background-color: gray;
}
/* 根元素上的样式 */
:root {
  --groove-color: #333;
}
.vuejs-container {
  width: 400px;
  height: 200px;
  border: 1px solid gray;
  box-shadow: 1px 4px 5px 1px gray;
}
.reactjs-container {
  width: 400px;
  height: 200px;
  border: 1px solid lightblue;
  box-shadow: 1px 4px 5px 1px lightblue;
}
.element-ui-container {
  width: 400px;
  height: 200px;
  border: 1px solid lightblue;
  box-shadow: 1px 4px 5px 1px lightblue;
}
.small_upload_box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectWorkerBox{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
}
.selectWorkerTable{
  width: 100%;
  height: 58%;
  overflow-y: scroll;
}
.workerSelected{
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 30%);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8%;
}
.workerSearch{
  height: 14%;
  width: 100%;
  display: flex;
  align-items: center;
}
.selectPagination{
  width: 100%;
  height: 20%;
  margin-top: 10px;
}
.selectWorkerFooter{
  position: absolute;
  bottom: 8%;
  right: 2%;
}
/* buttom */
.header_buttom{
  position: absolute;
  top: 15px;
  right: 20px;
}
.primary_button{
  background: #1890ff;
  color: #fff;
  padding: 0.05rem 0.2rem;
  box-sizing: border-box;
  height: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
/* form */
.el-dialog{
  margin-top: 0 !important;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media only screen and (max-width:1300px){
  .el-dialog{
    max-height: 580px;
    min-width: 600px;
    width: 75% !important;
  }
  .el-dialog__body{
    max-height: 466px;
  }
}

.el-dialog__header{
  height: 10%;
  box-sizing: border-box;
}

.el-dialog__footer{
  height: 12%;
  box-sizing: border-box;
}

.el-dialog__body{
  overflow-y: auto;
  height: 78%;
  box-sizing: border-box;
}

/* avater */

.avater {
  width: 180px;
  height: 180px;
  border: 1px dashed #d9d9d9;
}

.avater_img{
  max-width: 300px;
}

.avater::before {
  content: "+";
  font-size: 38px;
  color: #8c939d;
  width: 180px;
  height: 180px;
  line-height: 180px;
  text-align: center;
  display: block;
}
.avater-min {
  width: 160px;
  height: 160px;
  border: 1px dashed #d9d9d9;
}

.avater-min::before {
  content: "+";
  font-size: 38px;
  color: #8c939d;
  width: 160px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  display: block;
}

/* box */

.input_1 {
  min-width: 120px;
  max-width: 200px;
  margin: 0 10px 5px 0;
}
.input_2 {
  min-width: 120px;
  max-width: 150px;
  margin: 0 10px 5px 0;
}
.search_box {
  padding-top: 30px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
  overflow: hidden;
}

.el-input-number .el-input__inner{
  text-align: left;
}

/* color picker */
.hlColor{
  width:30px;
  height: 30px;
  border:1px solid #dbdbdb;
  border-radius: 4px;
}

/* input range */

input[type="range"] {
  margin-top: 8px;
  outline: none;
  -webkit-appearance: none;
  width: 40% !important;
  background: -webkit-linear-gradient(#81D3F8, #81D3F8) no-repeat, #ddd;
  height: 3px;
}

input[type="range"]:hover {
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #f8f9fa;
  border-radius: 50%;
  border: solid 3px #81D3F8;
}

/* flex */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* float */

.fl {
  float: left;
}

.fr {
  float: right;
}

/* padding */

.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-3 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-3 {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* margin */

.mx-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-2 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-3 {
  margin-left: 50px;
  margin-right: 50px;
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-3 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* font-size */

.fs-1 {
  font-size: 14px;
}

.fs-2 {
  font-size: 16px;
}

.fs-3 {
  font-size: 18px;
}

/* font-weight */

.bold {
  font-weight: bold;
}

/* color */

.dark_grey {
  color: #304156;
}
.color_red{
  color: red;
}
